{{ $css := resources.Get "katex/dist/katex.css" | minify | fingerprint }}
{{ $js:= resources.Get "katex/dist/katex.js" | minify | fingerprint }}
{{ $auto := resources.Get "katex/dist/contrib/auto-render.js" | minify | fingerprint }}
{{ $settings := resources.Get "js/katex_settings.js" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">
<script defer src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}"></script>
<!-- To automatically render math in text elements, include the auto-render extension: -->
<script defer src="{{ $auto.RelPermalink }}" integrity="{{ $auto.Data.Integrity }}"></script>
<script defer src="{{ $settings.RelPermalink }}" integrity="{{ $settings.Data.Integrity }}"></script>
