{{ $css := resources.Get "katex/dist/katex.css" | minify | fingerprint }}
{{ $js:= resources.Get "katex/dist/katex.js" | minify | fingerprint }}
{{ $auto := resources.Get "katex/dist/contrib/auto-render.js" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}" crossorigin="anonymous">
<script defer src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}" crossorigin="anonymous"></script>
<!-- To automatically render math in text elements, include the auto-render extension: -->
<script defer src="{{ $auto.RelPermalink }}" integrity="{{ $auto.Data.Integrity }}" crossorigin="anonymous"
        onload="renderMathInElement(document.body);"></script>
