<!-- <link rel="preload" href={{ "IBM-Plex-Sans/fonts/split/woff2/IBMPlexSans-Bold-Latin1.woff2" | relURL }} as="font" type="font/woff2" crossorigin>
<link rel="preload" href={{ "IBM-Plex-Sans/fonts/split/woff2/IBMPlexSans-Medium-Latin1.woff2" | relURL }} as="font"  type="font/woff2" crossorigin>
<link rel="preload" href={{ "IBM-Plex-Sans-Condensed/fonts/split/woff2/IBMPlexSansCondensed-Text-Latin1.woff2" | relURL }} as="font" type="font/woff2" crossorigin>
<link rel="preload" href={{ "IBM-Plex-Sans-Condensed/fonts/split/woff2/IBMPlexSansCondensed-SemiBold-Latin1.woff2" | relURL }} as="font" type="font/woff2" crossorigin>
<link rel="preload" href={{ "IBM-Plex-Mono/fonts/split/woff2/IBMPlexMono-Text-Latin1.woff2" | relURL }} as="font" type="font/woff2" crossorigin> -->
<link rel="preload" href={{ "IBM-Plex-Sans/fonts/split/woff2/IBMPlexSans-Regular-Latin1.woff2" | relURL }} as="font"  type="font/woff2" crossorigin>
<link rel="preload" href={{ "IBM-Plex-Sans-Condensed/fonts/split/woff2/IBMPlexSansCondensed-Light-Latin1.woff2" | relURL }} as="font" type="font/woff2" crossorigin>
{{- range .AlternativeOutputFormats -}}
  <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
{{- end }}{{- /**/ -}}
