<link rel="preload" href="IBM-Plex-Sans/fonts/split/woff2/IBMPlexSans-Regular-Latin1.woff2" as="font" crossorigin="anonymous">
<link rel="preload" href="IBM-Plex-Serif/fonts/split/woff2/IBMPlexSerif-Regular-Latin1.woff2" as="font" crossorigin="anonymous">
<link rel="preload" href="IBM-Plex-Sans-Condensed/fonts/split/woff2/IBMPlexSansCondensed-Regular-Latin1.woff2" as="font" crossorigin="anonymous">
{{- range .AlternativeOutputFormats -}}
  <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
{{- end -}}
