{{ $img := partial "get-resourceInPageOrParents.html" (dict "name" .Destination "currentPage" $.Page ) }}
{{ if not $img }}
    {{ errorf "%v - No image with the name '%s' has been found." .currentPage .Destination }}
{{ end }}
{{ $title := "" }}
{{ with .Title }}
    {{ $title = ( . | site.Home.RenderString)  }}
{{ else }}
    {{ $filepath := path.Split $img.Name }}
    {{ $title = $filepath.File }}
{{ end }}
{{ with $img }}
  <span class="embed {{ with $.Page.Params.embedImg }}embed--{{ . }}{{ end }}">
  {{ if eq .MediaType.SubType "svg" }}
    <img class="img--svg" src="{{ .RelPermalink }}" alt="{{ .Name }}" title="{{ $title }}">
  {{ else }}
      {{ $max_px := mul site.Params.layout.xmax site.Params.layout.column }}
      {{ $srcset := partial "img/func/generate-srcset.html" (dict "img" . "max_px" $max_px) }}
      {{ $bp_3col := mul site.Params.layout.xmin (add (mul 3 site.Params.layout.column) (mul 4 site.Params.layout.gutter)) }}
      {{ $min_gutter_mobile := mul site.Params.layout.xminmobile site.Params.layout.guttermobile }}
      {{ $sizes := print "(max-width: " $bp_3col "px) calc( 50vw - " $min_gutter_mobile "px ), " $max_px "px" }}
      <img src="{{ .RelPermalink }}"
           srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
           data-sizes="auto"
           data-srcset="{{ partialCached "img/func/generate-global-srcset.html" . .Key }}"
           class="lazyload"
           alt="{{ .Name }}"
           title="{{ .Title }}"/>
  {{ end }}
      {{ with .Params.caption }}
        <span class="caption">{{- . | site.Home.RenderString -}}</span>
      {{ end }}
      {{ with .Params.attr }}
          {{ $attr := .  }}
          {{- if $img.Params.caption -}} · {{- end -}}
          {{ with $img.Params.attrlink }}<a href="{{ . | safeHTML }}">
			<span class='attribution'>{{- $attr | site.Home.RenderString -}}</span></a>
          {{ else }}<span class='attribution'>{{- $attr | site.Home.RenderString -}}</span>
          {{ end }}
      {{ end }}
</span>
{{ end }}
