{{ $path := (urls.Parse .Destination).Path }}
{{ $ordinal := add .Ordinal 1 }}
{{ $img := partial "img/func/get-img.html" (dict "name" $path "currentPage" .Page ) }}
{{ $a := (dict (slice "class" "size") "normal") }}
{{ with $img }}
    {{ $a = merge $a (dict "ordinal" $ordinal) }}
    {{ $a = merge $a (partial "img/func/params/unsplash.html" . ) }}
    {{ $a = merge $a ( partial "img/func/params/resource_layout.html" . ) }}
    {{ $a = merge $a ( partial "img/func/params/resource_caption.html" (dict "img" . "a" $a ) ) }}
{{ end }}
{{ $a = merge $a ( partial "img/func/params/hook.html" . ) }}
{{ if .IsBlock }}
    {{ $a = merge $a (dict "type" "figure" )}}
    {{ partial "img/figure.html" (dict "img" $img "a" $a )}}
{{ else }}
    {{ $a = merge $a (dict "type" "embedded" )}}
    {{ partial "img/embedded.html" (dict "img" $img "a" $a )}}
{{ end }}
