{{- define "main" -}}
<div id="l-content-box" class="l-box">
  <div id="l-content">
    <header class="page-header">
      <div class="title title--article">
        {{ partial "title/title.html" . }}
        {{ partial "title/subtitle.html" . }}
      </div>
        <aside class="featured-image">{{ partial "img/featured.html" . }}</aside>
    </header>
    <div class="md md--serif md--margin-left md--article
    {{ with .Params.dropcap -}} md-dropcap {{- . }}{{ end }}">
      {{- partial "replacements.html" .Content -}}
    </div>
  </div>
  <footer class="page-footer">
    <div class="meta meta--foot">
      {{ partial "nav/taxo_and_breadcrumbs.html" . }}
      {{ partial "date/page/updated.html" . }}
    </div>
  </footer>
</div>
{{- end -}}
