{{- define "main" -}}
<div id="l-content-box" class="l-box l-box--full">
  <div id="l-content">
    <header class="page-header">
      <div class="meta meta--head meta--left">
          {{ partial "nav/taxonomies/page/lists.html" . }}
          {{ partial "date/published_datetime.html" . }}
      </div>
        {{ partial "title/titlehead-margin.html" . }}
      <div class="title title--article margin-full">
        {{ partial "title/title.html" . }}
        {{ partial "title/subtitle.html" . }}
      </div>
        <aside class="featured-image">{{ partial "img/featured.html" . }}</aside>
    </header>
    <div class="md md--sans md--margin-full md--h-sans
    {{ with .Params.dropcap -}} md-dropcap {{- . }}{{ end }}">
      {{- partial "replacements.html" .Content -}}
    </div>
  </div>
  <footer class="page-footer margin-full">
      {{ partial "nav/related/small-cards.html" . }}
    <div class="meta meta--foot">
      {{ partial "nav/taxo_and_breadcrumbs.html" . }}
      {{ partial "date/updated.html" . }}
    </div>
  </footer>
</div>
{{- end -}}
