<ul class="ul--row meta__list">
  <li class="meta__item">
    <a class="meta__icon nav-link" href="{{ site.Home.RelPermalink }}" title="Home" rel="nofollow">
        {{- partial "material-symbol" (dict "id" "home" "ctx" . "size" "tiny") -}}
    </a>
  </li>&zwj;<li class="meta__item">{{ partial "nav/breadcrumbs/separator.html" . }}</li>
    {{ $n := sub (len .Ancestors) 1 }}
    {{- range $i, $e := last $n .Ancestors.Reverse -}}
      <li class="meta__item">
        <a class="meta__text nav-link" href="{{ .RelPermalink }}" rel="nofollow">{{- .LinkTitle | site.Home.RenderString -}}</a>
      </li>&zwj;<li class="meta__item">{{ partial "nav/breadcrumbs/separator.html" . }}</li>
    {{- end -}}
  <li class="meta__item">
    <a class="meta__text nav-link" href="{{ .RelPermalink }}" aria-current="page" rel="nofollow">{{- .LinkTitle | site.Home.RenderString -}}</a>
  </li>
</ul>
