{{- $n := sub (len .Ancestors) 2 }}
<ul class="ul--row meta__list">
  <li class="meta__item"><a class="meta__hanging link link--nav" href='{{ ( site.GetPage "/doc" ).RelPermalink }}'>
    {{- partial "material-symbol.html" (dict "id" "format_list_numbered" "ctx" . "size" "tiny") }}</a>
  </li>
  {{- $empty := true }}
  {{- range $i, $e := last (add $n 1) .Ancestors.Reverse -}}
    {{- if ne $e .FirstSection }}
      {{- $empty = false }}
        <li class="meta__item">
          <a class="meta__text link link--nav" href="{{ .RelPermalink }}" rel="nofollow">
            {{- partial "render-string" .LinkTitle -}}
          </a>{{ if ne $i $n }}{{ partial "nav/breadcrumbs/separator.html" . }}{{ end }}
        </li>
    {{ end }}
  {{- end -}}
  {{- with and $empty .CurrentSection }}
  <li class="meta__item">
    <a class="meta__text link link--nav" href="{{ .RelPermalink }}" rel="nofollow">
      {{- partial "render-string" .LinkTitle -}}
    </a>
  </li>
  {{- end }}
</ul>
