{{ $n := sub (len .Ancestors) 2 }}
<ul class="ul--row meta__list">
  <li class="meta__item">
    {{ partial "material-symbol.html" (dict "id" "format_list_numbered" "ctx" . "size" "tiny") }}
  </li>
    {{- range $i, $e := last (add $n 1) .Ancestors.Reverse -}}
      {{ if ne $e .FirstSection }}
      <li class="meta__item">
        <a class="meta__text link link--nav" href="{{ .RelPermalink }}" rel="nofollow">{{- .LinkTitle | site.Home.RenderString -}}
        </a>{{ if ne $i $n }}{{ partial "nav/breadcrumbs/separator.html" . }}{{ end }}
      </li>
        {{ end }}
    {{- end -}}
</ul>
