{{- $ordinal := 0 }}
{{ with .a.ordinal }}
    {{ $ordinal = . }}
{{ end }}
{{- with .a.caption -}}
<span class="caption__text">
    {{ with $ordinal }}<span class="caption__nr">{{ . }}.</span> {{ end }}{{ . | site.Home.RenderString }}</span>{{ end -}}
{{ with .a.attr -}}
    {{- $attribution := ( . | site.Home.RenderString ) -}}
    {{- with $.a.attrlink -}}
      <a class="caption__attr" href="{{ . | safeHTMLAttr }}">({{ $attribution }})</a>
    {{- else -}}
      <span class="caption__attr">({{ $attribution }})</span>
    {{- end -}}
{{ end -}}
