{{- $ordinal := 0 }}
{{ with .a.ordinal }}
    {{ $ordinal = . }}
{{ end }}
{{- with .a.caption -}}
<span class="caption__text">
    {{ with $ordinal }}<span class="caption__nr">{{ . }}.</span> {{ end }}{{ . | site.Home.RenderString }}</span>{{ end -}}
{{ with .a.attr -}}
    {{- $attribution := ( . | site.Home.RenderString ) -}}
    {{- with $.a.attrlink -}}
        <span class="caption__attr" data-pagefind-ignore>(<a class="link link--text" href="{{ . | safeHTMLAttr }}">{{ $attribution }}</a>)</span>
    {{- else -}}
      <span class="caption__attr" data-pagefind-ignore>({{ $attribution }})</span>
    {{- end -}}
{{ end -}}
