{{- $forcedParams := dict
  (slice "class" "plain") "card__fig card__fig--1"
  (slice "class" "width") "small"
  (slice "frameClass" "box") "shadow"
  (slice "frameClass" "padding") "none"
  (slice "linkAttrs" "href") .RelPermalink
  (slice "linkAttrs" "rel") "nofollow"
  (slice "linkAttrs" "aria-label") "Read more"
  (slice "preprocess" "ratio") 1.5
  (slice "lqip" "run") false
}}
{{- $defaultParams := dict
  (slice "imgAttrs" "alt") "Featured image"
  (slice "frameClass" "background") "light"
}}
{{- with (partialCached "img/func/get-featured" . . ) }}
  {{- $params := merge $defaultParams .params $forcedParams }}
  {{- $imgMap := partial "mod-img/func/params/aggregate/all/figure" (dict "img" .img "params" $params) }}
  {{- $imgMap = partial "mod-img/func/raster/preprocess" $imgMap }}
  {{- partial "mod-img/render/container/figure-nc" $imgMap }}
{{- end }}
