{{- $img := ( partial "img/func/get-featuredResource.html" . ) -}}
{{- with $img -}}
    {{- $imgclass := "" -}}
    <figure class="card__fig">
        {{- if eq .MediaType.SubType "svg" -}}
          <img class="img--svg" src="{{ .RelPermalink }}" alt="{{ .Name }}" title="{{ .Title }}">
        {{- else -}}
            {{- if eq .MediaType.SubType "png" -}}
                {{- $imgclass = "img-png" -}}
            {{- end -}}
            {{- $max_px := mul $.Site.Params.layout.column $.Site.Params.layout.xmax -}}
            {{ $defaultImg := .Resize (printf "%dx" (int $max_px)) }}
            <img src="{{ $defaultImg.RelPermalink }}"
                 srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                 data-sizes="auto"
                 data-srcset="{{ partial "img/func/generate-global-srcset.html" . }}"
                 class="lazyload {{ with $imgclass -}}{{ . }}{{- end }}"
                 alt="{{ .Name }}"
                 title="{{ .Title }}" />
        {{- end -}}
    </figure>
{{- end -}}
