{{- $img := ( partial "img/func/get-featured.html" . ) -}}
{{ $a := dict }}
{{- with $img -}}
    {{ $a = partial "img/func/params/unsplash.html" . }}
    {{ $a = merge $a (partial "img/func/params/resource_layout.html" . )}}
    {{ $a = merge $a (dict (slice "class" "posh") "right" )}}
    {{ if not (in (slice "small" "tiny") $a.class.size)  }}
        {{ $a = merge $a (dict (slice "class" "size") "small" )}}
    {{ end }}
    {{ $a = partial "img/func/params/resource_caption.html" (dict "img" $img "a" $a) }}
    {{ $a = merge $a (dict (slice "class" "plain") "fig--featured")}}
    {{ partial "img/figure.html" (dict "img" . "a" $a )}}
{{- end -}}
