{{ $p := partial "img/func/preprocess.html" . }}

{{ if .a.link }}
<a class="link-block"
   href="{{ .a.link | safeHTMLAttr }}"
        {{- with .a.target }} target="{{ . | safeHTMLAttr }}"{{ end -}}
        {{- with $.a.rel }} rel="{{ . | safeHTMLAttr }}"{{ end }}>{{ end -}}
    <div class="img-box">
    {{- $subType := .img.MediaType.SubType -}}
    {{- if eq $subType "svg" -}}
      <img class="img__svg" src="{{ .img.RelPermalink }}"
           {{ with .a.alt }}alt="{{ . }}"{{ end }}
              {{ with .a.title }}title="{{ . }}"{{ end }}>
    {{- else -}}

        {{- $imgClass := "" -}}
        {{ $fallbackWidth := site.Params.imaging.fallback_width }}
        {{ $fallbackImg := $p.img.Resize (printf "%dx" (int (math.Max $fallbackWidth $p.img.Width)) ) }}
  {{ $lqip := partial "img/func/generate-lqip.html" $p.img }}
         {{- if eq $subType "png" -}}
            {{- $imgClass = "img__png" -}}
        {{- end -}}

        <img data-src="{{ $fallbackImg.RelPermalink }}"
             data-srcset="{{ partial "img/func/generate-global-srcset.html" (dict "img" $p.img "params" $p.params "a" .a ) }}"
             data-sizes="auto"
             data-aspectratio="{{ div $p.img.Width (float $p.img.Height) }}"
             data-parentfit="cover"
             src="data:image/gif;base64,{{- $lqip -}}"
             class="lazyload {{ with $imgClass -}}{{ . }}{{- end }}"
                {{- with .a.alt }} alt="{{ . }}"{{ end -}}
                {{- with .a.title }} title="{{ . }}"{{ end -}}

        />
    {{ end }}
    </div>
    {{ if .a.link }}</a>{{ end }}
