{{ $p := partial "img/func/preprocess.html" . -}}
{{ if .a.link -}}
<a class="link-block"
   href="{{ .a.link | safeHTMLAttr }}"
        {{- with .a.target }} target="{{ . | safeHTMLAttr }}"{{ end -}}
        {{- with $.a.rel }} rel="{{ . | safeHTMLAttr }}"{{ end }}>{{ end -}}
    {{- $subType := .img.MediaType.SubType -}}
    {{- if eq $subType "svg" -}}
      <img class="img--transparent" src="{{ .img.RelPermalink }}"
           {{- with .a.alt }}alt="{{ . }}"{{ end -}}
              {{- with .a.title }}title="{{ . }}"{{ end -}}>
    {{- else -}}
        {{- $imgClass := "" -}}
        {{- if eq $subType "png" -}}
            {{- $imgClass = "img__transparent" -}}
        {{- end -}}
        {{- $fallbackWidth := site.Params.imaging.fallback_width -}}
        {{- $fallbackImg := $p.img.Resize (printf "%dx" (int (math.Max $fallbackWidth $p.img.Width)) ) -}}
        {{- $lqip := partial "img/func/generate-lqip.html" $p.img -}}
        <img data-src="{{ $fallbackImg.RelPermalink }}"
             data-srcset="{{ partial "img/func/generate-global-srcset.html" (dict "img" $p.img "params" $p.params "a" .a ) }}"
             data-sizes="auto"
             data-aspectratio="{{ div $p.img.Width (float $p.img.Height) }}"
             data-parentfit="cover"
                {{- if lt $lqip.base64 2048 -}}
                  src="data:image/webp;base64,{{- $lqip.base64 -}}"
                {{- else -}}
                  src="{{ $lqip.img.RelPermalink }}"
                {{- end -}}
             class="lazyload {{- with $imgClass }} {{ . }}{{- end }}"
                {{- with .a.alt -}}
                  alt="{{ . }}"
                {{- else -}}
                    {{- warnf "No alternative description for image %s." $p.img.RelPermalink -}}
                {{- end -}}
                {{- with .a.title }} title="{{ . }}"{{ end -}}
             width="{{ $fallbackImg.Width }}"
             height="{{ $fallbackImg.Height }}"/>
    {{- end -}}
    {{- if .a.link }}</a>{{ end -}}
