{{- $forcedParams := dict
  (slice "class" "plain") "fig--portrait-small"
  (slice "class" "width") "pt2"
  (slice "process" "base64") true
}}
{{ $defaultParams := dict
  (slice "imgAttrs" "alt") "Portrait"
}}
{{- with ( partial "img/func/get-portrait.html" . ) -}}
{{- $params := merge $defaultParams .params $forcedParams }}
{{- $imgMap := partial "mod-img/func/params/aggregate/all/figure" (dict "img" .img "params" $params) }}
{{- partial "mod-img/render/container/figure" $imgMap }}
{{- end -}}
