{{ $class := slice }}
{{ $optPosh := "" }}
{{ $optSize := "" }}
{{ if eq .a.type "embedded" }}
    {{ $optPosh = site.Params.imaging.embedded.posh }}
    {{ $optSize = site.Params.imaging.embedded.size }}
{{ else if eq .a.type "figure" }}
    {{ $optPosh = site.Params.imaging.figure.posh }}
    {{ $optSize = site.Params.imaging.figure.size }}
{{ end }}
{{ with .a.class }}
    {{ if not (reflect.IsMap .) }}
        {{ errorf "Unable to aggregate the class for '%s'. The key 'class' needs to contain a map." $.img.Key }}
    {{ else }}
        {{ with .posh }}{{ if not (in $optPosh .) }}
            {{ errorf "Unable to aggregate the class for %s. The key 'posh' contains the invalid value '%s'." $.img.Key . }}
        {{ end }}{{ end }}
        {{ with .size }}{{ if not (in $optSize .) }}
            {{ errorf "Unable to aggregate the class for %s. The key 'size' contains the invalid value '%s'." $.img.Key . }}
        {{ end }}{{ end }}
        {{ range $k, $v := . }}
            {{ $class = $class | append $v }}
        {{ end }}
    {{ end }}
{{ end }}
{{ return (delimit $class " ") }}
