{{ $up := dict }}
{{ if not (eq .Params.attr "no") }}
{{ $filename := .Key | path.Base }}
{{ $length := len $filename }}
{{ if (gt $length 24) }}
    {{ $endid := (sub $length 13) }}
    {{ if eq (slicestr $filename $endid) "-unsplash.jpg" }}
        {{ $startid := (sub $length 24) }}
        {{ $id := (slicestr $filename $startid $endid) }}
        {{ $up = merge $up (dict "attrlink" (print "https://unsplash.com/photos/" $id ) ) }}
        {{ $name := slice }}
        {{ $slice := (split (slicestr $filename 0 $startid) "-") }}
        {{ range $slice }}
            {{ $name = $name | append ( . | humanize ) }}
        {{ end }}
        {{ $up = merge $up (dict "attr" (print (trim (delimit $name " ") " ") (htmlUnescape "/&hairsp;Unsplash")))  }}
    {{ end }}
{{ end }}
{{ end }}
{{ return $up }}
