<header class="li-header">
  <div class="meta meta--left">
    {{ partial "nav/taxonomies/header.html" . }}
    {{ partial "date/page/published.html" . }}
  </div>
  <div class="title title--li margin-left h-link-color">
    {{ partial "title/title-in-list.html" . }}
    {{ partial "title/subtitle.html" . }}
  </div>
  {{ partial "img/featured.html" . }}
</header>
<div class="md md--sans md--h-serif  md--margin-left h-link-color">
  {{ partial "content-blogroll.html" (partial "content.html" .Content ) }}
</div>
