<header class="li-header">
  <div class="meta meta--left">
    {{ partial "nav/taxonomies/page/header.html" . }}
    {{ partial "date/page/published.html" . }}
  </div>
  <div class="title title--li margin-left">
    {{ partial "title/title-in-list.html" . }}
    {{ partial "title/subtitle.html" . }}
  </div>
  <aside class="featured-image">{{ partial "img/featured.html" . }}</aside>
</header>
<div class="md md--sans md--h-serif  md--margin-left">
  {{ partial "content-blogroll.html" (partial "replacements.html" .Content ) }}
</div>
