{{- define "main" -}}
  <div id="l-content-box" class="l-box">
    <header class="page-header">
        {{- partial "img/featured.html" . -}}
      <div class="title title--ruled">
        <hr>
          {{ partial "title/title.html" . }}
          {{ partial "title/subtitle.html" . }}
      </div>
    </header>
    <div class="md md--serif md--list md--content">
        {{- partial "content.html" . -}}
    </div>
    <nav class="page-nav">
      <ul>
          {{- range .Pages -}}
            <li>{{- .Render "li" -}}</li>
          {{- end -}}
      </ul>
    </nav>
    <footer class="page-footer">
      <div class="meta">
          {{ partial "nav/breadcrumbs/footer.html" . }}
          {{ partial "date/page/updated.html" . }}
      </div>
    </footer>
  </div>
{{- end -}}
