{{- define "main" -}}
  <div id="l-content-box" class="l-box l-box--full">
    <div id="l-content">
      <header class="page-header">
        <div class="meta meta--left">
            {{ partial "nav/taxonomies/page/header.html" . }}
            {{ partial "date/page/published.html" . }}
        </div>
        <div class="title title--serif margin-left">
            {{ partial "title/title.html" . }}
            {{ partial "title/subtitle.html" . }}
        </div>
          <aside class="featured-image">{{ partial "img/featured.html" . }}</aside>
      </header>
      <div class="md md--sans md--h-serif md--margin-left">
          {{- partial "replacements.html" .Content -}}
      </div>
    </div>
    <footer class="page-footer margin-left">
      <div class="meta">
          {{ partial "nav/breadcrumbs/footer.html" . }}
          {{ partial "date/page/updated.html" . }}
      </div>
      <hr>
        {{ partial "blog/nav/pages.html" . }}
        {{ partial "nav/related/small-cards.html" . }}
    </footer>
  </div>
{{- end -}}
