{{- define "main" -}}
  <div id="l-content-box" class="l-box">
    <div id="l-content">
    <header class="page-header">
        {{- partial "img/featured.html" . -}}
      <div class="title">
          {{ partial "title/title.html" . }}
          {{ partial "title/subtitle.html" . }}
      </div>
    </header>
    <div class="md md--serif h-link-color md--link-color">
        {{- partial "content.html" .Content -}}
    </div>
    </div>
    <footer class="page-footer">
      <div class="meta">
          {{ partial "nav/breadcrumbs/footer.html" . }}
          {{ partial "date/page/updated.html" . }}
      </div>
    </footer>
  </div>
{{- end -}}
