{{/*
* Calculate a range of width numbers for a responsive 'img srcset'
*
* IN: maximum image width in 'px'
*
* OUT: exponential slice of 'img' widths
*/}}
{{ $colmax := . }}
{{ $min := mul site.Params.layout.xmin site.Params.layout.column }}
{{ $max := mul $colmax site.Params.imaging.u_pxdmax }}
{{ $sizes := (slice (int $min)) }}
{{ $n := sub site.Params.imaging.u_number 1 }}
{{ $ratio := div $max $min }}
{{ range seq $n }}
    {{ $sizes = $sizes | append (int (math.Round (mul $min (math.Pow $ratio (div . (mul $n 1.0)))))) }}
{{ end }}
{{ return $sizes }}
