{{ $p := partial "img/func/preprocess.html" . }}

{{ $srcset := slice }}
{{ $max := (math.Max site.Params.imaging.fallback_width $.img.Width) }}
{{ with partial "img/func/calc-global-sizes.html" (dict "img" .img "max" $max) }}
    {{ range $k, $w := . }}
        {{ $string := slice }}
        {{ $string = $string | append (printf "%dx" $w) }}
        {{ if $p.params.compress }}
            {{ $string = $string | append "webp" }}
            {{ with $p.params.hint }}
                {{ $string = $string | append . }}
            {{ end }}
        {{ end }}
        {{ if gt $w $max }}
            {{ $string = $string | append "MitchellNetravali" }}
        {{ end }}
        {{/* warnf "string %d: %v" $k $string */}}
        {{ $rs_img := $p.img.Resize (print (delimit $string " ")) }}
        {{ $srcset = $srcset | append (print ($rs_img.RelPermalink | safeURL) " " $rs_img.Width "w") }}
    {{ end }}
{{ end }}
{{ return ( delimit $srcset ", " ) }}
