{{ $imgResource := "" }}
{{ with .Resources.GetMatch "featured" }}
    {{ $imgResource = . }}
{{ else }}
    {{ with .Parent }}
        {{ with .Resources.GetMatch "featured" }}
            {{ $imgResource = . }}
        {{ else }}
            {{ with .Parent }}
                {{ with .Resources.GetMatch "featured" }}
                    {{ $imgResource = . }}
                {{ else }}
                    {{ with .Parent }}
                        {{ with .Resources.GetMatch "featured" }}
                            {{ $imgResource = . }}
                        {{ else }}
                            {{ with .Parent }}
                                {{ with .Resources.GetMatch "featured" }}
                                    {{ $imgResource = . }}
                                {{ end }}
                            {{ end }}
                        {{ end }}
                    {{ end }}
                {{ end }}
            {{ end }}
        {{ end }}
    {{ end }}
{{ end }}

{{ if not $imgResource }}
    {{ warnf "There is no specific featured image for the page %v" . }}
    {{ with resources.Get .Site.Params.featured }}
        {{ $imgResource = . }}
    {{ else }}
        {{ errorf "The parameter 'featured' is missing in the site configuration." }}
    {{ end }}
{{ end }}
{{ return $imgResource }}
