{{ $np := dict  }}
{{ with (.Get "class") }}{{ $np = merge $np (dict "class" . ) }}{{ end }}
{{ with (.Get "link") }}{{ $np = merge $np (dict "link" . ) }}{{ end }}
{{ with (.Get "target") }}{{ $np = merge $np (dict "target" . ) }}{{ end }}
{{ with (.Get "rel") }}{{ $np = merge $np (dict "np" . ) }}{{ end }}
{{ with (.Get "alt") }}{{ $np = merge $np (dict "alt" . ) }}{{ end }}
{{ with (.Get "title") }}{{ $np = merge $np (dict "title" . ) }}{{ end }}
{{ with (.Get "caption") }}{{ $np = merge $np (dict "caption" ( . | site.Home.RenderString)) }}{{ end }}
{{ with (.Get "attr") }}{{ $np = merge $np (dict "attr" ( . | site.Home.RenderString )) }}{{ end }}
{{ with (.Get "attrlink") }}{{ $np = merge $np (dict "attrlink" . ) }}{{ end }}
{{ return $np }}
