{{ $params := dict }}
{{ with .img.MediaType.SubType }}
    {{ if eq "svg" .  }}
        {{ $params = merge $params ( dict "process" false ) }}
    {{ else if eq "gif" . }}
        {{ if $.a.process }}
            {{ $params = merge $params (dict "process" true ) }}
            {{ $params = merge $params (dict "compress" false) }}
        {{ else }}
            {{ $params = merge $params ( dict "process" false )}}
        {{ end }}
    {{ else }}
        {{ if in site.Params.imaging.raster_compress . }}
            {{ $params = merge $params (dict "process" true)  }}
            {{ $params = merge $params (dict "compress" true) }}
        {{ else if in site.Params.imaging.raster_lossless . }}
            {{ $params = merge $params (dict "process" true )}}
            {{ $params = merge $params (dict "compress" false)}}
        {{ else }}
            {{ errorf "Unable to handle '%s'. Image type '%s' is not supported." $.img.RelPermalink . }}
        {{ end }}
    {{ end }}
{{ end }}

{{ with .a.rotate }}
    {{ if in site.Params.imaging.rotate . }}
        {{ if eq "90right" . }}
            {{ $params = merge $params ( dict "rotate" 270 ) }}
            {{ $params = merge $params (dict "flipsides" true )}}
        {{ else if eq "90left" . }}
            {{ $params = merge $params ( dict "rotate" 90 ) }}
            {{ $params = merge $params ( dict "flipsides" true ) }}
        {{ else }}
            {{ $params = merge $params ( dict "rotate" 180 )}}
            {{ $params = merge $params (dict "flipsides" false )}}
        {{ end }}
    {{ else }}
        {{ errorf "Unable to rotate the image '%s' with '%v'." $.img.RelPermalink . }}
    {{ end }}
{{ end }}

{{ with .a.ratio }}
    {{ if or (lt . 0.1) (gt . 10) }}
        {{ warnf "Unable to resize '%s' to the ratio '%f'. Values between 0.1 and 10 are possible." $.img.name . }}
    {{ else }}
        {{ $params = merge $params (dict "ratio" .) }}
    {{ end }}
    {{ if in site.Params.imaging.anchors $.a.anchor }}
        {{ $params = merge $params (dict "anchor" $.a.anchor ) }}
    {{ end }}
{{ end }}

{{ with .a.hint }}
    {{ if in site.Params.imaging.webp_hints . }}
        {{ $params = merge $params (dict "hint" . ) }}
    {{ else }}
        {{ warnf "Unable to use hint '%s' for resizing '%s'. Not in the available types %v." . $.img.RelPermalink }}
    {{ end }}
{{ end }}
{{ $pimg := "" }}
{{ if $params.process }}
    {{ $rs := slice }}
    {{ $width := $.img.Width }}
    {{ $height:= $.img.Height }}
    {{ with $params.ratio }}
        {{ $height = int (math.Round (div $width .)) }}
    {{ end }}
    {{ $rs = $rs | append (printf "%dx%d" $width $height ) }}
      {{ with $params.anchor }}
        {{ $rs = $rs | append (print .)}}
    {{ end }}
    {{ $pimg = $.img.Fill (print (delimit $rs " "))}}
    {{ $purl := (partial "func/add-path-to-url.html" (dict "url" $.img.Key "path" "pp" )) }}
    {{ $pimg = $pimg | resources.Copy $purl }}
{{ else }}
    {{ $pimg = $.img }}
{{ end }}
{{ return (dict "img" $pimg "params" $params )}}
