{{- define "main" -}}
  <div id="l-content-box" class="l-box l-box--full">
    <header class="page-header page-header--title-left">
      <div class="title title--taxo">
          <hr>
          {{ partial "file/vscode_start.html" .Page }}
          {{ partial "title/taxo.html" .Page }}
          {{ partial "title/subtitle.html" .Page }}
          {{ partial "file/vscode_end.html" .Page }}
      </div>
    </header>
      {{- with .Content -}}
        <div class="md md--sans md--margin-left md--h-serif md--list">
            {{- partial "replacements.html" . -}}
        </div>
      {{- end -}}
      {{- with .Pages -}}
        <nav class="card-nav card-nav--3 card-nav--top margin-left">
          <ul class="card-nav__list">
              {{- range .ByTitle -}}
                <li class="card card--1 card--1--row card__hover">{{- .Render "li-card-1-row-img" -}}</li>
              {{- end -}}
          </ul>
        </nav>
      {{- end -}}
    <footer class="page-footer page-footer--taxo margin-left">
      <div class="taxo {{ if gt (len .Pages) 18 }}taxo--left{{ end }}">
          {{- partial "footer/taxo.html" . -}}
      </div>
    </footer>
  </div>
{{- end -}}
{{ define "footer" -}}
  <footer id="l-footer" class="l-box margin-left">
      {{- partial "footer/site.html" . -}}
  </footer>
{{ end -}}
