<!DOCTYPE html>
<html {{ with .Site.Language.Lang }}lang="{{ . }}"{{ end }}>
{{- partial "head.html" . -}}
<body>
<div id="l-page">
  <header class="l-masthead l-nav" id="l-masthead">
      {{- partial "nav/masthead.html" . -}}
  </header>
  <div id="l-content">
    <main id="l-main">
        {{- block "main" . -}}{{- end -}}
      <footer id="l-footer">
          {{- partial "footer/site.html" . -}}
      </footer>
    </main>
    <div id="l-overlay"></div>
    <aside class="l-nav" id="l-sidebar">
      <header class="l-masthead l-masthead-sidebar hide3">
          {{- partial "nav/sidebar-masthead.html" . -}}
      </header>
        {{- block "sidebar" . -}}{{- end -}}
    </aside>
  </div>
</div>
{{- partial "foot.html" . -}}
</body>
</html>
