<!DOCTYPE html>
<html {{ with .Site.Language.Lang }}lang="{{ . }}"{{ end }}>
{{- partial "head.html" . -}}
<body>
<header class="l-masthead l-nav" id="l-masthead">
    {{- partial "nav/masthead.html" . -}}
</header>
<div class="l-page">
  <main id="l-main" class="l-tnp">
      {{- block "main" . -}}{{- end -}}
      {{- block "footer" . -}}
    <footer id="l-footer" class="l-box margin-halfleft">
        {{- partial "footer/site.html" . -}}
    </footer>
      {{- end -}}
  </main>
  <div id="l-overlay"></div>
</div>
{{- partial "foot.html" . -}}
{{- partial "katex/tags.html" . -}}
</body>
</html>
