<div class="card__flex card__flex--2">
    {{ partial "img/featured-card-1.html" . }}
  <div class="card__content">
    <nav class="card__header">
      <div class="meta meta--card meta--card--2">
          {{ partial "nav/card/meta/breadcrumbs.html" . }}
      </div>
      <div class="card__title card__title--2">
        <h2>{{ partial "title/render-link.html" . }}</h2>
      </div>
    </nav>
    <a href="{{ .RelPermalink }}">
      <div class="md md--sans md--card md--card--2">
        {{ partial "summary.html" . }}
      </div>
    </a>
  </div>
</div>
