{{- define "main" -}}
  <div id="l-content-box" class="l-box">
    <header class="page-header">
      <div class="title title--ruled">
        <hr>
          {{ partial "title/title.html" . }}
          {{ partial "title/subtitle.html" . }}
      </div>
      <aside class="featured-image">
          {{- partial "img/featured.html" . -}}
      </aside>
    </header>
      {{ with .Content }}
        <div class="md md--sans md--margin-left md--h-serif h-link-color md--list">
            {{- partial "content.html" . -}}
        </div>
      {{ end }}
    <nav class="page-nav page-nav--cols">
      <ul>
          {{- range .Pages -}}
            <li>{{- .Render "li" -}}</li>
          {{- end -}}
      </ul>
    </nav>
  </div>
{{- end -}}


{{- define "sidebar" -}}{{- end -}}
