{{- define "main" -}}
  <div id="box">
    <header class="page-header">
        {{- partial "img/featuredmargin.html" . -}}
      <div class="title title--ruled">
        <hr>
          {{ partial "title/title.html" . }}
          {{ partial "title/subtitle.html" . }}
      </div>
    </header>
    <div class="md md--serif md--list">
        {{- partial "content.html" . -}}
    </div>
    <nav class="page-nav page-nav--cols">
      <ul>
          {{- range .Pages -}}
            <li>{{- .Render "li" -}}</li>
          {{- end -}}
      </ul>
    </nav>
  </div>
{{- end -}}


{{- define "sidebar" -}}{{- end -}}
