{{- define "main" -}}
<div id="l-content-box" class="l-box l-box--full">
  <article id="l-content">
    <header class="page-header page-header--left">
      <div class="title ">
        <hr>
        {{ partial "title/title.html" . }}
        {{ partial "title/subtitle.html" . }}
      </div>
       <aside class="featured-image">{{ partial "img/featured.html" . }}</aside>
    </header>
    {{ with .Content }}
    <div class="md md--sans md--h-sans md--margin-full md--list">
      {{- partial "replacements.html" . -}}
    </div>
    {{ end }}
    <nav class="section-nav margin-full">
      <ul>
        {{- range .Pages -}}
        <li class="section-nav__li">{{- .Render "li-card" -}}</li>
        {{- end -}}
      </ul>
    </nav>
  </article>
</div>
{{- end -}}
