{{- define "main" -}}
  <div id="l-content-box" class="l-box">
    <header class="page-header">
      <div class="title title--serif title--ruled">
        <hr>
          {{ partial "title/title.html" . }}
          {{ partial "title/subtitle.html" . }}
      </div>
      <aside class="featured-image">
          {{- partial "img/featured.html" . -}}
      </aside>
    </header>
    {{ with .Content }}
    <div class="md h-link-color md--sans md--h-serif">
        {{- partial "content.html" . -}}
    </div>
    {{ end }}
    <footer class="page-footer">
      <div class="meta">
          {{ partial "nav/breadcrumbs/footer.html" . }}
          {{ partial "date/page/updated.html" . }}
      </div>
    </footer>
  </div>
{{- end -}}

{{- define "sidebar" -}}{{- end -}}
