{{- define "main" -}}
<div id="l-content-box" class="l-box l-box--full">
  <article id="l-content">
    <header class="page-header page-header--left">
      <div class="title title--serif">
        <hr>
        {{ partial "title/title.html" . }}
        {{ partial "title/subtitle.html" . }}
      </div>
       <aside class="featured-image">{{ partial "img/featured.html" . }}</aside>
    </header>
    {{ with .Content }}
    <div class="md md--sans md--h-sans md--margin-full">
      {{- partial "replacements.html" . -}}
    </div>
    {{ end }}
  </article>
  <footer class="page-footer">
  </footer>
</div>
{{- end -}}
