:root {
  color-scheme: light dark;
  --c-frame: #0e0b0d;
  --c-frame-text-normal: #dde2e3;
  --c-frame-text-medium: #b3babe;
  --c-frame-text-low: #9ba1a4;
  --c-frame-text-extralow: #7c8183;
  --c-frame-text-semihigh: #f1f3f4;
  --c-frame-text-high: #fff;
  --c-frame-text-link: #00a9f7;
  --c-frame-text-link-ext: #00b594;
  --c-frame-button: #e6b215;
  --c-frame-button-hover: #e6b215;
  --c-frame-button-hover-bg: #433d40;
  --c-frame-button-disabled: #544108;
  --c-frame-border-hover: #0088c7;
  --c-frame-border-active: #e7339b;
  --c-frame-bg-1: #f9f6f8;
  --c-frame-bg-2: #f4f0f3;
  --c-frame-bg-3: #eae6e8;
  --c-page: hsl(325, 50%, 99%);
  --c-text-normal: #18272d;
  --c-text-high: #030505;
  --c-text-semihigh: #11181c;
  --c-text-medium: #25343a;
  --c-text-semilow: #32434b;
  --c-text-low: #43565f;
  --c-text-extralow: #5b717b;
  --c-text-contrast: #fbfcfc;
  --c-text-link: #006da0;
  --c-text-link-hover: #030505;
  --c-text-link-hover-bg: rgba(58, 193, 255, 0.1);
  --c-text-link-ext: #007d66;
  --c-text-link-ext-hover: #11181c;
  --c-text-link-ext-hover-bg: rgba(113, 208, 191, 0.2);
  --c-nav-link: #006da0;
  --c-nav-link-hover: #c70074;
  --c-nav-link-ext-hover: #007a64;
  --c-nav-link-hover-bg: #f1eef0;
  --c-icon: #5e7884;
  --c-icon-link: #0074aa;
  --c-icon-link-hover: #e10083;
  --c-icon-link-ext-hover: #00a687;
  --c-code: #1a282f;
  --c-code-extralow: #5d737e;
  --c-code-bg: #fff;
  --c-danger: #fff;
  --c-danger-bg: #da1818;
  --c-danger-box-bg: #f2d7d7;
  --c-warn: #11181c;
  --c-warn-bg: #efef3e;
  --c-warn-box: #cece2c;
  --c-warn-box-bg: #eeeeaf;
  --c-info: #fff;
  --c-info-bg: #2542d2;
  --c-info-box-bg: #eaebf4;
  --c-success: #11181c;
  --c-success-bg: #19e119;
  --c-success-box-bg: #d7f2d7;
  --c-bg-1: #f9f6f8;
  --c-bg-2: #f4f0f2;
  --c-bg-3: #eae6e8;
  --c-bg-4: #e1dedf;
  --c-shadow-1: #e7e2e5;
  --c-shadow-2: #d5d0d3;
  --c-shadow-3: #bab5b8;
  --c-watermark: #b9d5e1;
  --c-scrollbar: #ebb924;
  --c-selection: #030505;
  --c-selection-bg: #ade5ff;
  --c-chroma-fg: #1a282f;
  --c-chroma-bg: #fff;
  --c-chroma-err-fg: #a61717;
  --c-chroma-err-bg: #e3d2d2;
  --c-chroma-hl: #ffffcc;
  --c-chroma-lnt: #7f7f7f;
  --c-chroma-ln: #7f7f7f;
  --c-chroma-k: #000000;
  --c-chroma-kc: #000000;
  --c-chroma-kd: #000000;
  --c-chroma-kn: #000000;
  --c-chroma-kp: #000000;
  --c-chroma-kr: #000000;
  --c-chroma-kt: #445588;
  --c-chroma-na: #008080;
  --c-chroma-nb: #0086b3;
  --c-chroma-bp: #999999;
  --c-chroma-nc: #445588;
  --c-chroma-no: #008080;
  --c-chroma-nd: #3c5d5d;
  --c-chroma-ni: #800080;
  --c-chroma-ne: #990000;
  --c-chroma-nf: #990000;
  --c-chroma-nl: #990000;
  --c-chroma-nn: #555555;
  --c-chroma-py: #1a282f;
  --c-chroma-nt: #000080;
  --c-chroma-nv: #008080;
  --c-chroma-vc: #008080;
  --c-chroma-vg: #008080;
  --c-chroma-vi: #008080;
  --c-chroma-l: #1a282f;
  --c-chroma-ld: #1a282f;
  --c-chroma-s: #dd1144;
  --c-chroma-sa: #dd1144;
  --c-chroma-sb: #dd1144;
  --c-chroma-sc: #dd1144;
  --c-chroma-dl: #dd1144;
  --c-chroma-sd: #dd1144;
  --c-chroma-s2: #dd1144;
  --c-chroma-se: #dd1144;
  --c-chroma-sh: #dd1144;
  --c-chroma-si: #dd1144;
  --c-chroma-sx: #dd1144;
  --c-chroma-sr: #79c0ff;
  --c-chroma-s1: #dd1144;
  --c-chroma-ss: #990073;
  --c-chroma-m: #009999;
  --c-chroma-mb: #009999;
  --c-chroma-mf: #009999;
  --c-chroma-mh: #009999;
  --c-chroma-mi: #009999;
  --c-chroma-il: #009999;
  --c-chroma-mo: #009999;
  --c-chroma-o: #000000;
  --c-chroma-ow: #000000;
  --c-chroma-c: #999988;
  --c-chroma-ch: #999988;
  --c-chroma-cm: #999988;
  --c-chroma-c1: #999988;
  --c-chroma-cs: #999999;
  --c-chroma-cp: #999999;
  --c-chroma-cpf: #999999;
  --c-chroma-gd-fg: #000000;
  --c-chroma-gd-bg: #ffdddd;
  --c-chroma-gr: #aa0000;
  --c-chroma-gh: #999999;
  --c-chroma-gi-fg: #000000;
  --c-chroma-gi-bg: #ddffdd;
  --c-chroma-go: #888888;
  --c-chroma-gp: #555555;
  --c-chroma-gu: #aaaaaa;
  --c-chroma-gt: #aa0000;
  --c-chroma-w: #bbbbbb;
  --fw-chroma-k: bold;
  --fw-chroma-kc: bold;
  --fw-chroma-kd: bold;
  --fw-chroma-kn: bold;
  --fw-chroma-kp: bold;
  --fw-chroma-kr: bold;
  --fw-chroma-kt: bold;
  --fw-chroma-no: unset;
  --fw-chroma-gh: unset;
  --f-img: unset;
  --ctg-news-title: linear-gradient(90deg, #00628f 0%, #007560 66%, #00dbb3 100%);
  --ctg4-news-title: linear-gradient(90deg, #00a7f5 0%, #00628f 25%, #007560 75%, #00dbb3 100%);
  --ctg-blog-title: linear-gradient(90deg, #00628f 0%, #9b1362 66%, #e62e99 100%);
  --ctg4-blog-title: linear-gradient(90deg, #00a7f5 0%, #00628f 25%, #9b1362 75%, #e62e99 100%);
  --ctg-article-title: linear-gradient(90deg, #00628f 0%, #9b1362 66%, #e62e99 100%);
  --ctg4-article-title: linear-gradient(90deg, #00a7f5 0%, #00628f 25%, #9b1362 75%, #e62e99 100%);
  --cbg-news-button: linear-gradient(90deg, #00a7f5 0%, #0084c2 25%, #00a889 75%, #00dbb3 100%);
  --cbg-blog-button: linear-gradient(90deg, #00a7f5 0%, #0084c2 25%, #c9187f 75%, #e62e99 100%);
  --cbg-article-button: linear-gradient(90deg, #00a7f5 0%, #0084c2 25%, #c9187f 75%, #e62e99 100%);
  --cbg-doc-button: linear-gradient(90deg, #00a7f5 0%, #0084c2 25%, #0084c2 75%, #00a7f5 100%);
}
@media (prefers-color-scheme: dark) {
  :root {
    --c-page: #1a1919;
    --c-text-normal: #d3dbde;
    --c-text-high: white;
    --c-text-semihigh: #eaeef0;
    --c-text-medium: #d5dadd;
    --c-text-semilow: #bcc4c8;
    --c-text-low: #a0abb0;
    --c-text-extralow: #7f8a90;
    --c-text-contrast: black;
    --c-text-link: #259ad0;
    --c-text-link-hover: #eaeef0;
    --c-text-link-hover-bg: #2c2c2c;
    --c-text-link-ext: #339986;
    --c-text-link-ext-hover: #eaeef0;
    --c-text-link-ext-hover-bg: #2c2c2c;
    --c-nav-link: #259ad0;
    --c-nav-link-hover: #ff48b2;
    --c-nav-link-ext-hover: #00ab8c;
    --c-nav-link-hover-bg: #2c2c2c;
    --c-icon: #86898b;
    --c-icon-link: #259ad0;
    --c-icon-link-hover: #ff48b2;
    --c-icon-link-ext-hover: #00ab8c;
    --c-code: #d1d9dd;
    --c-code-extralow: #7d898e;
    --c-code-bg: #0d1117;
    --c-danger: white;
    --c-danger-bg: #da1818;
    --c-danger-box-bg: #471818;
    --c-warn: #18272d;
    --c-warn-bg: #efef3e;
    --c-warn-box: #d0d05d;
    --c-warn-box-bg: #3b3b05;
    --c-info: white;
    --c-info-bg: #2542d2;
    --c-info-box-bg: #121836;
    --c-success: #11181c;
    --c-success-bg: #19e119;
    --c-success-box-bg: #102f10;
    --c-bg-1: #1d1d1d;
    --c-bg-2: #212121;
    --c-bg-3: #292929;
    --c-bg-4: #2f2f2f;
    --c-shadow-1: #2f2b2d;
    --c-shadow-2: #3a3839;
    --c-shadow-3: #4c4c4c;
    --c-watermark: #1a3c4d;
    --c-scrollbar: #c99b13;
    --c-selection: white;
    --c-selection-bg: #003852;
    --c-chroma-fg: #c9d1d9;
    --c-chroma-bg: #0d1117;
    --c-chroma-err: #f85149;
    --c-chroma-hl: #ffffcc;
    --c-chroma-lnt: #64686c;
    --c-chroma-ln: #6e7681;
    --c-chroma-k: #ff7b72;
    --c-chroma-kc: #79c0ff;
    --c-chroma-kd: #ff7b72;
    --c-chroma-kn: #ff7b72;
    --c-chroma-kp: #79c0ff;
    --c-chroma-kr: #ff7b72;
    --c-chroma-kt: #ff7b72;
    --c-chroma-nc: #f0883e;
    --c-chroma-no: #79c0ff;
    --c-chroma-nd: #d2a8ff;
    --c-chroma-ni: #ffa657;
    --c-chroma-ne: #f0883e;
    --c-chroma-nf: #d2a8ff;
    --c-chroma-nl: #79c0ff;
    --c-chroma-nn: #ff7b72;
    --c-chroma-py: #79c0ff;
    --c-chroma-nt: #7ee787;
    --c-chroma-nv: #79c0ff;
    --c-chroma-l: #a5d6ff;
    --c-chroma-ld: #79c0ff;
    --c-chroma-s: #a5d6ff;
    --c-chroma-sa: #79c0ff;
    --c-chroma-sb: #a5d6ff;
    --c-chroma-sc: #a5d6ff;
    --c-chroma-dl: #79c0ff;
    --c-chroma-sd: #a5d6ff;
    --c-chroma-s2: #a5d6ff;
    --c-chroma-se: #79c0ff;
    --c-chroma-sh: #79c0ff;
    --c-chroma-si: #a5d6ff;
    --c-chroma-sx: #a5d6ff;
    --c-chroma-sr: #79c0ff;
    --c-chroma-s1: #a5d6ff;
    --c-chroma-ss: #a5d6ff;
    --c-chroma-m: #a5d6ff;
    --c-chroma-mb: #a5d6ff;
    --c-chroma-mf: #a5d6ff;
    --c-chroma-mh: #a5d6ff;
    --c-chroma-mi: #a5d6ff;
    --c-chroma-il: #a5d6ff;
    --c-chroma-mo: #a5d6ff;
    --c-chroma-o: #ff7b72;
    --c-chroma-ow: #ff7b72;
    --c-chroma-c: #8b949e;
    --c-chroma-ch: #8b949e;
    --c-chroma-cm: #8b949e;
    --c-chroma-c1: #8b949e;
    --c-chroma-cs: #8b949e;
    --c-chroma-cp: #8b949e;
    --c-chroma-cpf: #8b949e;
    --c-chroma-gd-fg: #ffa198;
    --c-chroma-gd-bg: #490202;
    --c-chroma-gr: #ffa198;
    --c-chroma-gh: #79c0ff;
    --c-chroma-gi-fg: #56d364;
    --c-chroma-gi-bg: #0f5323;
    --c-chroma-go: #8b949e;
    --c-chroma-gp: #8b949e;
    --c-chroma-gu: #79c0ff;
    --c-chroma-gt: #ff7b72;
    --c-chroma-w: #6e7681;
    --fw-chroma-k: unset;
    --fw-chroma-kc: unset;
    --fw-chroma-kd: unset;
    --fw-chroma-kn: unset;
    --fw-chroma-kp: unset;
    --fw-chroma-kr: unset;
    --fw-chroma-kt: unset;
    --fw-chroma-no: bold;
    --fw-chroma-gh: bold;
    --f-img: brightness(90%);
  }
}