{{ $title := "" }}
{{ $parenttitle := "" }}
{{ with .Params.menu.doc.name }}
    {{ $title = . }}
{{ else }}
    {{ $title = .LinkTitle }}
{{ end }}
{{ with .Parent.Params.menu.doc.name }}
    {{ $parenttitle = . }}
{{ else }}
    {{ $parenttitle = .Parent.LinkTitle }}
{{ end }}
<span>
    {{- with $parenttitle -}}<span class="page-nav__meta">{{ partial "render-string"  . }}</span>{{ end }}
    {{- with $title }}<span class="page-nav__title">{{ partial "render-string"  . }}</span>{{ end -}}
</span>
{{- /**/ -}}
