<div class="ctrl ctrl-left" id="l-logo">
    {{- partial "nav/button/sidebar.html" . -}}
    {{- partial "nav/masthead/title-site.html" . -}}
</div>
<div class="ctrl ctrl-left" id="l-menu">
    {{- partial "nav/masthead/menu-main.html" . -}}
</div>
<div class="ctrl ctrl-right" id="l-ctrl">
  {{/*{{- partial "nav/masthead/social.html" . -}}*/}}
    {{- partial "icon/simple-icon.html" "github" }}
    {{- partial "nav/button/search.html" . -}}
    {{- partial "nav/button/toc.html" . -}}
    {{- partial "nav/toc-walk-headings.html" . -}}
</div>
