<div class="ctrl ctrl-left hide3" id="l-one">
    {{- partial "nav/button/sb1.html" . -}}
</div>
<div class="ctrl hide3">
    {{- partial "nav/masthead/title-site.html" . -}}
</div>
<div class="ctrl ctrl-left show3" id="l-logo">
    {{- partial "nav/button/sb2.html" . -}}
    {{- partial "nav/masthead/title-site.html" . -}}
</div>
<div class="ctrl ctrl-left show3" id="l-men1">
    {{- partial "nav/masthead/menu.html" . -}}
</div>
<div class="ctrl ctrl-left show4" id="l-men2">
    {{- partial "nav/masthead/social.html" . -}}
</div>
<div class="ctrl ctrl-right" id="l-ctrl">
    {{- partial "nav/button/search.html" . -}}
    {{- partial "nav/button/toc.html" . -}}
    {{- partial "nav/toc.html" . -}}
</div>
