{{ if (or .Paginator.HasPrev .Paginator.HasNext) -}}
<nav class="page-nav">
  <ul class="page-nav__list">
    {{- with .Paginator.Prev -}}
    <li class="page-nav__li"><a href="{{ .URL }}" class="page-nav__link page-nav__link--prev link link--nav card__hover">
        <div class="page-nav__icon">
          {{- partial "material-symbol" (dict "id" "update" "ctx" . "size" "normal") -}}
        </div>
      <div class="page-nav__title"><span class="text">Newer</span></div>
      <div class="page-nav__icon page-nav__icon--arrow">
        {{- partial "material-symbol" (dict "id" "west" "ctx" . "size" "normal") -}}
      </div>
    </a></li>
    {{- else -}}
    <li class="page-nav__li"><span class="page-nav__link page-nave__item--prev"></span></li>
    {{- end -}}
    {{ with .Paginator.Next }}
    <li class="page-nav__li">
      <a href="{{ .URL }}" class="page-nav__link page-nav__link--next link link--nav card__hover">
        <div class="page-nav__icon">
          {{- partial "material-symbol" (dict "id" "history" "ctx" . "size" "normal") -}}
        </div>
        <div class="page-nav__title"><span class="text">Older</span></div>
        <div class="page-nav__icon page-nav__icon--arrow">
          {{- partial "material-symbol" (dict "id" "east" "ctx" . "size" "normal") -}}
        </div>
      </a></li>
    {{- end -}}
  </ul>
</nav>
{{ end -}}
