<ul class="sidebar__list sidebar__list--1">
    {{ $page := .context }}
    {{ $menuName := .menuName }}
    {{ $menu := .menu }}
    {{ range $menu }}
        {{ if .HasChildren }}
          <li class="sidebar__item sidebar__item--1 nav__item nav__item--1 {{- if $page.HasMenuCurrent $menuName . }} has-active{{- end -}}">
            {{- $args := dict "menuEntry" . "size" "normal" }}
            {{- if $page.IsMenuCurrent $menuName . }}
                {{- partialCached "sidebar/item-active" $args . }}
            {{- else }}
                {{- partialCached "sidebar/item" $args . }}
            {{- end }}
            {{ partialCached "sidebar/expand" . . }}
            <ul class='sidebar__list sidebar__list--2 {{ if ( partialCached "sidebar/itemsHaveNoChildren" . . ) -}}items-have-no-children{{ end }}'>
                {{ range .Children }}
                  <li class='sidebar__item sidebar__item--2 nav__item nav__item--2 {{- if $page.HasMenuCurrent $menuName . }} has-active{{- end -}}'>
                      {{- $args := dict "menuEntry" . "size" "small" }}
                      {{- if $page.IsMenuCurrent $menuName . }}
                          {{- partialCached "sidebar/item-active" $args . }}
                      {{- else }}
                          {{- partialCached "sidebar/item" $args . }}
                      {{- end }}
                      {{ if .HasChildren }}
                          {{ partialCached "sidebar/expand" . . }}
                          <ul class='sidebar__list sidebar__list--3 {{ if ( partialCached "sidebar/itemsHaveNoChildren" . . ) }}items-have-no-children{{ end }}'>
                              {{ range .Children }}
                                <li class="sidebar__item sidebar__item--3 nav__item nav__item--3">
                                    {{- $args := dict "menuEntry" . "size" "tiny" }}
                                    {{- if $page.IsMenuCurrent $menuName . }}
                                        {{- partialCached "sidebar/item-active" $args . }}
                                    {{- else }}
                                        {{- partialCached "sidebar/item" $args . }}
                                    {{- end }}
                                </li>
                              {{ end }}
                          </ul>
                      {{ end }}
                  </li>
                {{ end }}
            </ul>
          </li>
        {{ else }}
          <li class="sidebar__item sidebar__item--1 nav__item nav__item--1">
            {{- $args := dict "menuEntry" . "size" "normal" }}
            {{- if $page.IsMenuCurrent $menuName . }}
                {{- partialCached "sidebar/item-active" $args . }}
            {{- else }}
                {{- partialCached "sidebar/item" $args . }}
            {{- end }}
          </li>
        {{ end }}
    {{ end }}
</ul>

{{- define "partials/sidebar/item" -}}
      <a href="{{ .menuEntry.URL }}" class="link link--nav sidebar__link">
        {{- partialCached "sidebar/item-inner" . . }}
      </a>
{{- end -}}

{{- define "partials/sidebar/item-active" }}
  <span class="link link--nav sidebar__link is-active" aria-current="page">
    {{- partialCached "sidebar/item-inner" . . }}
  </span>
{{- end }}

{{- define "partials/sidebar/item-inner" }}
  {{- partialCached "nav/menu-pre-icon.html" . . }}
  <span class="sidebar__text">{{ .menuEntry.Name | site.Home.RenderString }}</span>
{{- end }}

{{- define "partials/sidebar/expand" -}}
    {{ with .Identifier }}
      <input id="menu-{{ . }}" class="sidebar__chk" type="checkbox">
      <label class="sidebar__open" for="menu-{{ . }}"><span class="sr-only">+</span>
          <span class="icon icon--material"></span>
      </label>
    {{ else }}
        {{ errorf "Unable to create sidebar menu. Missing menu identifier %q." .KeyName }}
    {{ end }}
{{- end -}}

{{- define "partials/sidebar/itemsHaveNoChildren" -}}
    {{ $value := true }}
    {{ range .Children }}
        {{ if .HasChildren }}
            {{ $value = false }}
        {{ end }}
    {{ end }}
    {{ return $value }}
{{ end }}
