{{-
.
| replaceRE `<h5 (.*)>(.*)</h5>` "<h6 $1>$2</h6>"
| replaceRE `<h4 (.*)>(.*)</h4>` "<h5 $1>$2</h5>"
| replaceRE `<h3 (.*)>(.*)</h3>` "<h4 $1>$2</h4>"
| replaceRE `<h2 (.*)>(.*)</h2>` "<h3 $1>$2</h3>"
| replaceRE `\{\^([^\}]*)\}` "<sup>$1</sup>"
| replaceRE `\{\_([^\}]*)\}` "<sub>$1</sub>"
| replaceRE `\{\#([^\}]*)\}` "<kbd>$1</kbd>"
| replaceRE `\{\!([^\}]*)\}` "<mark>$1</mark>"
| replaceRE `\{\=([^\}]*)\}` "<cite>$1</cite>"
| replaceRE `\{\+([^\}]*)\}` "<ins>$1</ins>"
| replaceRE `\{\$([^\}]*)\}` "<var>$1</var>"
| replaceRE `\{s\s?([^\}]*)\}` "<small>$1</small>"
| replaceRE `\{r\s?([^\}]*)\}` "<span style='float: right;'>$1</span>"
| replaceRE `\{d\s?([^\}]*)\}` "<span lang='de'>$1</span>"
| replaceRE `\{f\s?([^\}]*)\}` "<span lang='fr'>$1</span>"
| replaceRE `\s?(—|&mdash;)\s?` " — "
| safeHTML
-}}

{{/* replaceRE `#(#*\s)` "##$1" . | safeHTML */}}
