{{ $r := "" }}
{{ $glob := (printf "*%s*" .name) }}
{{ with .currentPage.Resources.GetMatch $glob }}
    {{ $r = . }}
{{ else }}
    {{ with .currentPage.CurrentSection.Resources.GetMatch $glob }}
        {{ $r = . }}
    {{ else }}
        {{ with .currentPage.CurrentSection.CurrentSection.Resources.GetMatch $glob }}
            {{ $r = . }}
        {{ else }}
            {{ with resources.Get .name }}
                {{ $r = . }}
            {{ else }}
                {{ errorf "%v: no '%s' in the page, its sections or 'assets'." .currentPage .name }}
            {{ end }}
        {{ end }}
    {{ end }}
{{ end }}
{{ return $r }}
