{{- $name := "summary" }}
{{- $page := . }}
{{- $min := site.Params.limit.summary.min | default 50 }}
{{- $max := site.Params.limit.summary.max | default 360 }}
{{- $errorLevel := site.Params.limit.summary.errorLevel | default "warning" }}

{{- with .Summary -}}
    {{- $text := (partial "replacements" . | htmlUnescape ) }}
    {{- $plaintext := $text | plainify }}
    {{- $n := len $plaintext }}
    {{- if lt $n $min }}
        {{- $msg := printf "Very short summary (%d chars). A length beyond %d characters is better." $n $min }}
        {{- partial "error-msg" (dict "ctx" $page "caller" $name "errorMsg" $msg "errorLevel" $errorLevel) }}
    {{- end }}
    {{- if gt $n $max }}
        {{- $msg := printf "Very long summary (%d chars). A length under %d characters is better." $n $max }}
        {{- partial "error-msg" (dict "ctx" $page "caller" $name "errorMsg" $msg "errorLevel" $errorLevel) }}
    {{- end }}
    {{- partial "wrap-p" $text }}
{{- else }}
    {{- $msg := printf "Missing summary." }}
    {{- partial "error-msg" (dict "ctx" $page "caller" $name "errorMsg" $msg "errorLevel" $errorLevel) }}
{{- end -}}
