{{- partial "authors/portrait-tiny.html" . -}}
{{- $modifier := "" -}}
{{- if eq .Section "news" }}
    {{- $modifier = "link--news" }}
{{- else if or (eq .Section "blog") (eq .Section "article") }}
    {{- $modifier = "link--post" }}
{{- else if eq .Section "doc" }}
    {{- $modifier = "link--doc" }}
{{- end -}}
<a href="{{ .RelPermalink }}" class="link{{ with $modifier }} {{ . }}{{ end }}" aria-label="Read more about {{ (partial "replacements" .Title) | plainify }}" rel="nofollow">
    {{- partial "material-symbol" (dict "id" "read_more" "ctx" . ) -}}
</a>
