<!DOCTYPE html>
<html {{ with .Site.Language.Lang }}lang="{{ . }}"{{ end }}>
{{- partial "head.html" . -}}
<body>
<header class="l-masthead l-nav l-wrap" id="l-masthead">
    {{- partial "nav/masthead.html" . -}}
</header>
<div class="l-page">
<main id="l-main" class="l-tnp">
  <div id="l-content-box" class="l-box l-box--full">
    <div>
    <header class="page-header">
      <div class="title">
        <hr>
          {{ partial "file/vscode_start.html" . }}
          {{ partial "title/title.html" . }}
          {{ partial "title/subtitle.html" . }}
          {{ partial "file/vscode_end.html" . }}
      </div>
    </header>
      {{ with .Content }}
        <div class="md md--sans md--margin-left md--h-serif md--list">
            {{- partial "replacements.html" . -}}
        </div>
      {{ end }}
        {{ with site.GetPage "/news" }}
          <nav class="card-nav card-nav--3 card-nav--top margin-halfleft">
            <ul class="card-nav__list">
                {{- range first 4 .RegularPages -}}
                  <li class="card card--3halfs card__hover">{{- .Render "li-card-3halfs-row-img-small" -}}</li>
                {{- end -}}
            </ul>
          </nav>
        {{ end }}
        {{ with site.GetPage "/blog" }}
          <nav class="card-nav card-nav--3 card-nav--top margin-halfleft">
            <ul class="card-nav__list">
                {{- range first 3 .RegularPages -}}
                  <li class="card card--1 card__hover">{{- .Render "li-card-1-col-img" -}}</li>
                {{- end -}}
            </ul>
          </nav>
        {{ end }}
  </div>
  </div>
  <footer id="l-footer" class="l-box margin-halfleft">
      {{- partial "footer/site.html" . -}}
  </footer>
</main>
</div>
{{- partial "foot.html" . -}}
</body>
</html>
