<!DOCTYPE html>
<html {{ with .Site.Language.Lang }}lang="{{ . }}"{{ end }}>
{{- partial "head.html" . -}}
<body>
<header class="l-masthead l-nav l-wrap" id="l-masthead">
    {{- partial "nav/masthead.html" . -}}
</header>
<div class="l-page">
<main id="l-main" class="l-tnp">
  <div id="l-content-box" class="l-box l-box-full">

  </div>
  <footer id="l-footer" class="l-box margin-halfleft">
      {{- partial "footer/site.html" . -}}
  </footer>
</main>
</div>
{{- partial "foot.html" . -}}
</body>
</html>
