<!DOCTYPE html>
<html {{ with .Site.Language.Lang }}lang="{{ . }}"{{ end }}>
{{- partial "head.html" . -}}
<body>
<header class="l-masthead l-nav l-wrap" id="l-masthead">
    {{- partial "nav/masthead.html" . -}}
</header>
<main id="l-home" class="l-tnp">
    {{ with .Site.GetPage "site/home" }}
        {{ partial "home/title.html" . }}
        {{ partial "home/tiles.html" . }}
    {{ end }}
  <footer id="l-footer" class="l-box l-footer--home">
      {{- partial "footer/site.html" . -}}
  </footer>
</main>
{{- partial "foot.html" . -}}
</body>
</html>
