<ul class="top-nav">
    {{ $currentPage := .context }}
    {{ $menuName := .menuname }}
    {{ $menu := .menu }}
    {{ range $menu }}
      <li>
        <a class="{{ if $currentPage.IsMenuCurrent $menuName . -}} is-active {{- end }} {{ if $currentPage.HasMenuCurrent $menuName . -}} has-active {{- end }}"
           href="{{ .URL }}">
            {{- with .Pre -}}<span class="icon">{{ . }}</span>{{ end }}
            {{ with .Name }}{{ . | site.Home.RenderString }}{{ end }}
        </a></li>
    {{ end }}
</ul>
