{{ range .Resources.Match "l*.md" }}
  <div {{ with .Params.id }}id="{{ . }}"{{ end }} class="home__tile ">
      <div class="md md--sans md--card md--home ">
      {{ partial "home/markdown.html" . }}
      </div>
  </div>
{{ end }}
{{ $colors := slice "blue" "green" "yellow" "red" }}
{{ $counter := 0 }}
{{ range .Resources.Match "d*.md" }}
  <div {{ with .Params.id }}id="{{ . }}"{{ end }} class="home__tile home__tile--shadow home__tile--{{ index $colors (mod $counter 4)}}">
      <div class="md md--sans md--card md--home ">
          {{ partial "home/markdown.html" . }}
      </div>
  </div>
  {{ $counter = add $counter 1 }}
{{ end }}

{{ define "partials/home/markdown.html" }}
{{ with .Title }}<h2>{{ . | site.Home.RenderString }}</h2>{{ end }}
{{ partial "content.html" .Content }}
{{ end }}
{{/*   */}}
