{{/*
  IN:
    - name: Name of the resource
    - currentPage: The page calling the resource

  OUT: Resource or empty string
*/}}
{{ $name := .name }}
{{ $resource := "" }}
{{ with .currentPage }}
    {{ with .Resources.GetMatch $name }}
        {{ $resource = . }}
    {{ else }}
        {{ range $i, $tag := .GetTerms "tags" }}
            {{ with $tag.Page.Resources.GetMatch $name }}
                {{ if eq $resource "" }}
                    {{ $resource = . }}
                {{ end }}
            {{ end }}
        {{ end }}
        {{ if not $resource }}
            {{ range $i, $category := .GetTerms "categories" }}
                {{ with $category.Page.Resources.GetMatch $name }}
                    {{ if eq $resource "" }}
                        {{ $resource = . }}
                    {{ end }}
                {{ end }}
            {{ end }}
        {{ end }}
        {{ if not $resource }}
            {{ with (partial "resource-in-parent.html" ( dict "name" $name "currentPage" . )) }}
                {{ $resource = . }}
            {{ else }}
                {{ with site.GetPage "/site/images"  }}
                    {{ $resource = .Resources.GetMatch $name }}
                {{ end }}
            {{ end }}
        {{ end }}
    {{ end }}
{{ end }}
{{ if not $resource }}
    {{ errorf "There is no resource with the name %q in %q or related folders." $name .currentPage }}
{{ end }}
{{ return $resource }}

{{ define "partials/resource-in-parent.html" }}
    {{ $name := .name }}
    {{ $resource := "" }}
    {{ with .currentPage.Parent }}
        {{ with .Resources.GetMatch $name }}
            {{ $resource = . }}
        {{ else }}
            {{ $resource = partial "resource-in-parent.html" ( dict "name" $name "currentPage" . )}}
        {{ end }}
    {{ end }}
    {{ return $resource }}
{{ end }}
