<div class="card__flex card__flex--half">
    {{ partial "img/featured-card-half.html" . }}
  <div class="card__content card__content--flex">
    <nav class="card__header">
        <div class="card__title card__title--half">
          {{ partial "nav/card/title/h2.html" . }}
        </div>
    </nav>
    <a href="{{ .RelPermalink }}">
      <div class="md md--sans md--card md--card--half">
          {{ partial "description.html" . }}
      </div>
      <div class="meta meta--card meta--card--half">
          {{ partial "nav/taxonomies/site/term_count.html" . }}
      </div>
    </a>
  </div>
</div>
