{{- define "main" -}}
  <div id="l-content-box" class="l-box l-box--full">
    <div id="l-content">
      <header class="page-header page-header--title-left">
        <div class="title">
          <hr>
            {{ partial "title/taxonomy.html" . }}
            {{ partial "title/subtitle.html" . }}
        </div>
      </header>
        {{ with .Content }}
          <div class="md md--sans md--margin-left md--h-serif h-link-color md--list">
              {{- partial "content.html" . -}}
          </div>
        {{ end }}
      <nav class="card-nav margin-left">
        <ul class="card-nav__list">
            {{- range .Pages -}}
              <li class="card">{{- .Render "li-card" -}}</li>
            {{- end -}}
        </ul>
      </nav>
    </div>
  </div>
{{- end -}}
