{{- define "main" -}}
<div id="l-content-box" class="l-box l-box--full">
  <div id="l-content">
    <header class="page-header page-header--title-left">
      <div class="title">
        <hr>
        {{ partial "title/taxonomy.html" . }}
        {{ partial "title/subtitle.html" . }}
      </div>
      <aside class="featured-image">
        {{- partial "img/featured.html" . -}}
      </aside>
    </header>
    {{ with .Content }}
    <div class="md md--sans md--margin-left md--h-serif h-link-color md--list">
      {{- partial "content.html" . -}}
    </div>
    {{ end }}
    <nav class="page-nav page-nav--cols margin-left">
      <ul>
        {{- range .Pages -}}
        <li>{{- .Render "li" -}}</li>
        {{- end -}}
      </ul>
    </nav>
  </div>
</div>
{{- end -}}
