{{/*
  IN: dict of
    - name: Name of the resource
    - currentPage: The current page

  OUT: Resource or empty string
*/}}
{{ $path := (print .path "*") }}
{{ $ctx := .ctx }}
{{ $resource := "" }}
{{ with $ctx.Page }}
	{{ range $i, $tag := .GetTerms "tags" }}
		{{ if not $resource }}
			{{ $resource = $tag.Page.Resources.GetMatch $path }}
		{{ end }}
	{{ end }}
	{{ if not $resource }}
		{{ range $i, $category := .GetTerms "categories" }}
			{{ if not $resource }}
				{{ $resource = $category.Page.Resources.GetMatch $path }}
			{{ end }}
		{{ end }}
	{{ end }}
	{{ if not $resource }}
		{{ $resource = (partial "resource-in-parent.html" ( dict "name" $path "page" . )) }}
	{{ end }}
	{{ if not $resource }}
		{{ $resource = (site.GetPage "/site").Resources.GetMatch $path }}
	{{ end }}
{{ end }}

{{ return $resource }}



{{ define "partials/mod-resource/func/helper/resource-in-parent.html" }}
	{{ $path := .path }}

	{{ $resource := "" }}
	{{ with .page.Parent }}
		{{ with .Resources.GetMatch $path }}
			{{ $resource = . }}
		{{ else }}
			{{ $resource = partial "resource-in-parent.html" ( dict "name" $path "currentPage" . )}}
		{{ end }}
	{{ end }}

	{{ return $resource }}
{{ end }}
