{{/*
  IN: dict of
    - path: (relative path and) name of the resource
    - ctx: Context (usually the current page)

  OUT: Resource or empty string
*/}}
{{ $path := (print .path "*") }}
{{ $ctx := .ctx }}
{{ $resource := "" }}
{{ with $ctx.Page }}
	{{ range $i, $tag := .GetTerms "tags" }}
		{{ if not $resource }}
			{{ $resource = $tag.Page.Resources.GetMatch $path }}
		{{ end }}
	{{ end }}
	{{ if not $resource }}
		{{ range $i, $category := .GetTerms "categories" }}
			{{ if not $resource }}
				{{ $resource = $category.Page.Resources.GetMatch $path }}
			{{ end }}
		{{ end }}
	{{ end }}
	{{ if not $resource }}
		{{ range .Ancestors }}
			{{ if not $resource }}
				{{ with .Resources.GetMatch $path }}
					{{ $resource = . }}
				{{ end }}
			{{ end }}
		{{ end }}
	{{ end }}
	{{ if not $resource }}
		{{ $resource = (site.GetPage "/site").Resources.GetMatch $path }}
	{{ end }}
{{ end }}

{{ return $resource }}
