{{ $name := "" }}
{{ $img := "" }}
{{ $class := slice }}
{{ $link := "" }}
{{ $target := "" }}
{{ $rel := "" }}
{{ $alt := "" }}
{{ $title := "" }}
{{ $caption := "" }}
{{ $attr := "" }}
{{ $attrlink := "" }}
{{ $inner := "" }}
{{ if .IsNamedParams }}
    {{ $img := partial "get-resourceInPageOrParents.html" (dict "name" (.Get "src") "currentPage" $.Page ) }}
    {{ with (.Get "class") }}{{ $class = $class | append . }}{{ end }}
    {{ with (.Get "link") }}{{ $link = . }}{{ end }}
    {{ with (.Get "target") }}{{ $target = . }}{{ end }}
    {{ with (.Get "rel") }}{{ $rel = . }}{{ end }}
    {{ with (.Get "alt") }}{{ $alt = . }}{{ end }}
    {{ with (.Get "title") }}{{ $title = . }}{{ end }}
    {{ with (.Get "caption") }}{{ $caption = . }}{{ end }}
    {{ with (.Get "attr") }}{{ $attr = . }}{{ end }}
    {{ with (.Get "attrlink") }}{{ $attrlink = . }}{{ end }}
{{ else }}
    {{ $name = (.Get 0) }}
    {{ $img = .Page.Resources.GetMatch $name }}
    {{ with $img }}
        {{ with .Params.class  }}{{ $class = $class | append . }}{{ end }}
        {{ with .Params.link }}{{ $link = . }}{{ end }}
        {{ with .Params.target }}{{ $target = . }}{{ end }}
        {{ with .Params.rel }}{{ $rel = . }}{{ end }}
        {{ with .Params.alt }}{{ $alt = . }}{{ end }}
        {{ with .Title }}{{ $title = .  }}{{ end }}
        {{ with .Params.caption }}{{ $caption = . }}{{ end }}
        {{ with .Params.attr }}{{ $attr = . }}{{ end }}
        {{ with .Params.attrlink }}{{ $attrlink = . }}{{ end }}
    {{ end }}
{{ end }}
{{ with .Inner }}{{ $caption = . }}{{ end }}
{{ with $img }}
  <figure {{ with $class }}class='{{ delimit . " " | safeHTMLAttr }}'{{ end }}>
      {{ if $link }}
    <a href='{{ $link | safeHTMLAttr }}' {{ with $target }}target='{{ . | safeHTMLAttr }}'{{ end }}
            {{ with $rel }}rel='{{ . | safeHTMLAttr }}'{{ end }}>
        {{ end }}
        {{ if eq $img.MediaType.SubType "svg" }}
          <img class="img--svg"
               src='{{ .RelPermalink }}' {{ with $alt }} alt='{{ . | site.Home.RenderString }}' {{ end }}
                  {{ with $title }} title='{{ . | site.Home.RenderString }}' {{ end }} />
        {{ else }}
          <img src='{{ .RelPermalink }}' {{ with $alt }} alt='{{ . | site.Home.RenderString }}' {{ end }}
                  {{ with $title }} title='{{ . | site.Home.RenderString }}' {{ end }} />
        {{ end }}
        {{ if $link }}</a>{{ end }}
      {{ if (or $caption $attr) }}
        <figcaption>
            {{ with ($caption | site.Home.RenderString )}}
              <div class="caption">{{ . }}</div>{{ end }}
            {{ with $attr }}
              <div class="attribution">
                  {{ if $attrlink }}<a href='{{ $attrlink }}'>{{ end }}
                      {{ . | site.Home.RenderString }}{{ if $attrlink }}</a>{{ end }}
              </div>
            {{ end }}
        </figcaption>
      {{ end }}
  </figure>
{{ else }}
    {{ warnf "%v: No page resource '%s' available." .Page $name  }}
{{ end }}
