{{ $name := "" }}
{{ $img := false }}
{{ $a := dict }}
{{ if .IsNamedParams }}
    {{ with (.Get "src") }}
        {{ $name = . }}
        {{ $img = partial "img/func/get-img.html" (dict "name" $name "currentPage" $.Page ) }}
    {{ else }}
        {{ errorf "Missing 'src' parameter for figure shortcode." }}
    {{ end }}
    {{ with $img }}
        {{ $a = partial "img/func/params/unsplash.html" . }}
        {{ $a = merge $a (partial "img/func/params/resource.html" . )}}
    {{ else }}
        {{ errorf "Unable to get resource '%s' in %q" $name $.Page }}
    {{ end }}
    {{ $a = merge $a ( partial "img/func/params/namedFigure.html" . ) }}
{{ else }}
    {{ with (.Get 0) }}
        {{ $name = . }}
        {{ $img = partial "img/func/get-img.html" (dict "name" $name "currentPage" $.Page )  }}
    {{ else }}
        {{ errorf "Missing positional parameter in figure shortcode (Needs 1 got 0)." }}
    {{ end }}
    {{ with $img }}
        {{ $a = partial "img/func/params/unsplash.html" . }}
        {{ $a = merge $a (partial "img/func/params/resource.html" . )}}
    {{ end }}
{{ end }}
{{ if not $img }}
    {{ errorf "Unable to get resource '%s' in %q" $name $.Page }}
{{ end }}
{{ $a = merge $a (dict "name" $name) }}
{{ $a = merge $a (dict "type" "figure" )}}
{{ partial "img/figure.html" (dict "img" $img "a" $a )}}
