<aside class="right3 {{- with .Get "up" }} up-{{ . }}{{- end -}}">
    {{- $cutoff := (mul 4 80) -}}
  <div class="note {{- with .Get "star" }} note-star{{- . -}} {{ end -}} {{ with .Get "dagger" }}note-dagger{{.}}{{end}} {{ if gt ( len .Inner ) $cutoff  }}note-long{{end}}">
      {{- $html:= .Inner | site.Home.RenderString -}}
      {{- if gt ( len .Inner ) $cutoff -}}
        <input id="check-note-{{.Ordinal}}" class="checkbox-note hide3" type="checkbox">
        <label class="open-note hide3" for="check-note-{{.Ordinal}}">
          <span class="arrow"></span>
        </label>
      {{- end -}}
    <div class="note__content">
        {{- if not ( strings.Contains $html "<p>" ) -}}
          <p>{{- $html -}}</p>
        {{- else -}}
            {{- $html -}}
        {{- end -}}
    </div>
  </div>
</aside>
